# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\johan\Data_Science\SoftwareDevelopment\java04\sdse_students\Project 1\Phase 1\Code\Phase 1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
